@font-face {
  font-family: "Dela Gothic One";
  src: url(../fonts/DelaGothicOne/DelaGothicOne-Regular.woff2) format(woff2);
  src: url(../fonts/DelaGothicOne/DelaGothicOne-Regular.woff) format(woff);
  font-display: fallback;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/RalewayFont/Raleway-Light.woff) format(woff);
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/RalewayFont/Raleway-SemiBold.woff) format(woff);
  font-weight: 600;
  font-display: fallback;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/RalewayFont/Raleway-Bold.woff) format(woff);
  font-weight: 700;
  font-display: fallback;
}
.mobile {
  display: none;
}

body {
  font-family: "Raleway", "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.643;
}

p {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 600;
}

a {
  font-size: 14px;
  font-weight: 300;
  color: inherit;
  text-decoration: none;
  outline: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}

.btn {
  font-size: 14px;
  font-weight: 300;
}
.btn:first-child:active {
  border-color: #fff;
}

button {
  outline: none;
}

.container {
  max-width: 1440px;
  padding-left: 5.555%;
  padding-right: 5.555%;
}

.breadcrumb-item__label {
  font-size: 12px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  margin-right: 5px;
}

.breadcrumb-item--active {
  font-size: 12px;
  margin-top: 3px;
}

.sort-direction__label {
  margin-left: 3px;
  margin-top: 2px;
  font-size: 12px;
  line-height: 20px;
}

.catalogue-page {
  padding-bottom: 130px;
}

.catalogue-header {
  margin-bottom: 35px;
}

.catalogue-card {
  width: 47.5%;
  margin-bottom: 4%;
}

.catalogue-card__picture {
  margin-bottom: 10px;
  max-width: 100%;
}
.catalogue-card__name {
  margin-bottom: 5px;
}
.catalogue-card__price {
  margin-bottom: 0;
}

.select {
  border: none;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  width: 65px;
  cursor: pointer;
  margin-left: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: 2;
}
.select:focus {
  outline: none;
  box-shadow: none;
}

.select-area {
  margin-top: 1px;
  width: 65px;
  position: relative;
}
.select-area__icon {
  position: absolute;
  right: 0;
  top: 9px;
  z-index: 1;
  cursor: pointer;
}

.sort-layout {
  align-items: center;
}

.sort-direction {
  align-items: center;
}

.catalogue-title__title {
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: right;
}

.top-navigation {
  padding-top: 10px;
  padding-bottom: 20px;
}

ul {
  padding-left: 0;
}

.form-check {
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.open-more {
  display: inline-block;
  margin-right: auto;
  text-align: center;
}
.open-more:hover .rotation {
  animation: rotate 2s linear infinite;
}

.open-more-btn__label {
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  display: inline-block;
  margin-right: 5px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn {
  margin: 0;
  padding: 0;
}

.btn-link {
  color: black;
  text-decoration: none;
}
.btn-link:visited {
  color: black;
  text-decoration: inherit;
}

.choose-page {
  margin-right: 10px;
  font-weight: 600;
}
.choose-page--active {
  color: #B0B0B0;
}
.choose-page--active:visited {
  color: #B0B0B0;
}
.choose-page--last {
  margin-right: 0;
}

.filters {
  font-size: 12px;
  margin-top: 10px;
}

.filters-item-header {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin: 10px auto 5px 0;
}
.filters-item-header__title {
  margin-right: 5px;
}
.filters-item-header__collapse {
  display: inline-block;
}

.filters-item--active .filter-options {
  display: block;
}
.filters-item--active .filters-collapse-icon {
  transform: rotate(180deg) translateY(-1px);
}

.form-check-label {
  color: #565656;
}

.filter-options {
  margin-bottom: 5px;
  display: none;
}

.form-check-input[type=checkbox] {
  border: 1px solid #565656;
  border-radius: 0;
  margin-left: 0;
  margin-right: 5px;
}

.form-check-input:checked[type=checkbox] {
  background-color: #DA1F39;
}/*# sourceMappingURL=vyshyvankas-style.css.map */